<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
            <fieldNames>
                <logger>log.logger</logger>
                <level>log.level</level>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
            <mdcKeyFieldName>X-Correlation-ID=transaction.id</mdcKeyFieldName>
            <mdcKeyFieldName>user=user.id</mdcKeyFieldName>
            <customFields>{"application.name":"spring-rest-api"}</customFields>
        </encoder>
    </appender>

    <logger name="fr.nduheron" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
